html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
  
.page {
  min-width: 680px;
  background-color: #ffe4c4;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #6a170c;
}

.input-text {
  min-height: 150px;
  width: 60%;
  margin-bottom: 20px;
  background-color: #ffeed9;
}

.keyboard {
  width: 60%;
  min-width: 680px;
}

.row {
  display: flex;
  justify-content: center;
}

.activeShift,
.buttom {
  height: 30px;
  min-width: 37px;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 1.5px;
  text-align: center;
  background-color: #b5b5b5;
  transition: 0.2s linear;

  &:hover {
    background-color: #f78a8a;
  }

  &:active,
  &_active {
    border-radius: 5px;
    background-color: #7aeded;
  }

}

.activeShift:hover {
  border-radius: 5px;
  background-color: #7aeded;
}


.Backspace {
  width: 89px;
}

.Tab,
.Delete {
  width: 43px;
}

.CapsLock {
  width: 68px;
}

.Enter {
  width: 98px;
}

.ShiftLeft,
.ShiftRight {
  width: 83px;
}

.Space {
  width: 277px;
}

.ControlLeft,
.ControlRight {
  width: 43px;
}

.message {
  font-size: 24;
  color: red;
}